// @import '~bootstrap/scss/bootstrap.scss';
@import './variables.scss';

.container{
	max-width: 100%;
}

.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.mauikea_font {
	font-family: $mauikea-font;
}

.infoStyle {
	font-style: italic;
	font-size: .8em;
}

.growIcon {
	transform: scale(4, 4);    
}

.dark-green {
	background-color: $dark-green;
}

.positiveColor {color: $positive}
.negativeColor {color: $negative}
.warningColor {color: $warning}

.text-decoration-none {text-decoration: none !important}