.btn{
    width: 12em;
    height: 3em;
    border-radius: 0.5em;
    padding: 0.5em;
    box-shadow: 0em 0.3em 0.4em $shadow-grey;
    cursor: pointer;
}

.btn-primary{
    background-color: $pale-green;
    border: 0.1em solid $pale-green;
    transition: background-color .2s ease-out !important;

    &:hover{
        background-color: $green !important;
        border-color: $green !important;
    }
}

.btn-secondary{
    background-color: #FFF;
    border: 0.1em solid $pale-green;
    transition: all .2s ease-out;

    &:hover{
        background-color: #FFF !important;
        border-color: $green !important;
    }
}
