// @import '~bootstrap/scss/bootstrap.scss';
@import '../sass/variables.scss';

* {
  font-family: $ibm-font;
  color: $dark-grey;
}

h1 {
  font-family: $mauikea-font;
  color: #000;
}

.vh-100 {
  height: 100vh;
}

.homeScreen {
  background-image: url('../assets/img/homeBg_cut.png');
  background-position: bottom right;
  background-repeat: no-repeat;

  h1 {
    font-size: 14pt;

    + p {
      font-size: 0.8em;
    }
  }

  // overwrite
  .list-group-item {
    background-color: transparent !important;
  }
}

.homeListGroup {
  h2 {
    font-weight: bold;
    font-size: 1.6em;
    border-bottom: 3px solid $dark-grey;
    width: fit-content;
  }

  p {
    font-size: 0.9em;
  }
}

.homeNavigation {
  column-gap: 3.3em;

  i {font-size: 1.3em}

  p {font-size: 0.7em}
}