@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,600;1,400;1,600&display=swap');

@font-face {
  font-family: "MAUIKEA Demo Regular";
  src: url("../assets/font/mauikea-webfont.woff") format("woff");
  src: url("../assets/font/mauikea-webfont.woff2") format("woff2");
}

* {
  font-family: 'IBM Plex Sans', Arial, sans-serif;
  color: #3D3D3D;
}

h1 {
  font-family: 'MAUIKEA Demo Regular', Arial, Verdana, sans-serif;
  color: #000;
}

.thinHeader-title {
  font-size: 14pt;
}

.homeListTitle {
  font-weight: bold;
  font-size: 1.6em;
  border-bottom: 3px solid #3D3D3D;
  width: fit-content;
}

.homeListDesc {
  font-size: 0.9em;
}

.homeNavigation {
/*  row-gap: .1em;*/
}

/*.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}*/

