// @import '~bootstrap/scss/bootstrap.scss';
@import '../sass/variables.scss';

* {
  font-family: $ibm-font;
  color: $dark-grey;
}

h1 {
  font-family: $mauikea-font;
  color: #000;
}

.vh-100 {
  height: 100vh;
}

.homeScreen {
  background-image: uri('../assets/images/homeBg.png')
}

.thinHeader-title {
  font-size: 14pt;
}

.homeListTitle {
  font-weight: bold;
  font-size: 1.6em;
  border-bottom: 3px solid $dark-grey;
  width: fit-content;
}

.homeListDesc {
  font-size: 0.9em;
}

.homeNavigation {
  column-gap: 3.3em;

  i {font-size: 1.3em}

  p {font-size: 0.7em}
}


/*.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}*/

